@import "tailwindcss";

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

@theme inline {
  --font-sans: var(--font-gilroy);
}
@keyframes orbit {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-orbit {
  animation: orbit 5.5s linear infinite;
  will-change: transform;
}
@keyframes marquee {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-33.333%, 0, 0);
  }
}
body {
  font-family: var(--font-gilroy);
}

* {
  cursor: none !important;
}
